<section class="container">
  <h1>Principal Menu</h1>
  <div class="modules">
    <app-card-menu
      *appRoleUser="['admin', 'cashier']"
      routerLink="{{ modules[0].route }}"
      [module]="modules[0]"
    ></app-card-menu>
    <app-card-menu
      *appRoleUser="['admin', 'waiter']"
      routerLink="{{ modules[1].route }}"
      [module]="modules[1]"
    ></app-card-menu>
    <app-card-menu
      *appRoleUser="['admin']"
      routerLink="{{ modules[2].route }}"
      [module]="modules[2]"
    ></app-card-menu>
    <app-card-menu
      routerLink="{{ modules[3].route }}"
      [module]="modules[3]"
    ></app-card-menu>
  </div>
</section>
