.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 5px;
    padding: 5px;
}

form{
    width: 100%;
}

h1{
    margin: 0px;
    font-weight: bold;
    font-size: 35px;
    color: #2d90ff;
}

h2{
    margin: 0px;
    font-weight: bold;
    font-size: 25px;
    color: #0702a6;
}