<mat-dialog-content class="d-flex flex-column" [ngStyle]="{ gap: '0.5rem' }">
  <div
    class="d-flex flex-row justify-between align-center"
    [ngStyle]="{ height: '2rem' }"
  >
    <h1 mat-dialog-title>Change password of {{ username }}</h1>
    <button mat-icon-button mat-dialog-close color="primary">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider role="separator" class="divider"></mat-divider>
  <div
    class="d-flex flex-column"
    [ngStyle]="{ gap: '0.5rem', 'margin-top': '10px' }"
  >
    <form #ngForm [formGroup]="form">
      <mat-hint [ngStyle]="{ 'font-size': '12px', 'margin-bottom': '5px' }">
        Minimum 8 characters, at least one uppercase letter, one lowercase
        letter, one digit or one of the following characters $!?&._
      </mat-hint>
      <div class="d-flex flex-row" [ngStyle]="{ gap: '0.5rem' }">
        <mat-form-field appearance="outline" class="w-50">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="showPassword ? 'password' : 'text'"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-50">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password_confirm"
            [type]="showPassword ? 'password' : 'text'"
            (blur)="verifyPasswords()"
          />
        </mat-form-field>
      </div>
      <div
        class="d-flex justify-start align-center w-100"
        [ngStyle]="{
          position: 'relative',
          bottom: '2rem',
          'margin-top': '5px'
        }"
      >
        <mat-checkbox (change)="onChangeShowHidePassword($event)">{{
          showPassword ? "Show password" : "Hide password"
        }}</mat-checkbox>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex flex-row justify-end align-center">
  <button
    type="button"
    mat-flat-button
    color="primary"
    (click)="onSubmit($event)"
  >
    <mat-icon>save</mat-icon>
    Save
  </button>
</mat-dialog-actions>
