main{
    height: 100vh;
    width: 100vw;
}

.container{
    display: grid;
    place-content: center center;
}

h1, h3{
    margin: 0.5rem !important
}

h1 > strong{
    color: #0702a6 !important;
}

h3 > strong{
    color: #2d90ff !important;
}